.MailContainer {
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 270px;
    right: 250px;
    transform: translate(-50%, 50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;
    text-align: center;

}

.MailContainer h2 {
    margin-bottom: 10px;
}

.MailContainer p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}

.MailContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MailContainer label {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    width: 100%;
    text-align: left;
}

.MailContainer input[type="text"],
.MailContainer input[type="email"],
.MailContainer textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.MailContainer textarea {
    resize: vertical;
    height: 100px;
}

.MailContainer input[type="submit"] {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.MailContainer input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-bottom: 15px;
    font-size: 14px;
}

.success {
    color: green;
    margin-bottom: 15px;
    font-size: 14px;
    animation: fadeInOut 3s ease-in-out;
}