/* RegisterCompany.css */
.register-company-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbe7f1; /* Dark overlay */
  font-family: 'Poppins', sans-serif;
  
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.form-wrapper {
  position: relative; /* Ensures the form content stays on top of the background image */
  z-index: 1;
  background: #dbe7f1; /* Glassmorphism effect */
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px); 
  max-width: 500px;
  width: 100%;
  text-align: center;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  border-radius: 78px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
  z-index: -2; /* Sends the image behind the form */
  opacity: 0.3; /* Fades the image */
  filter: blur(2px); /* Optional: Adds a slight blur effect for more focus on the form */
}


.form-wrapper:hover {
  transform: scale(1.05); /* Slight zoom-in effect on hover */
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #18303e;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  font-size: 1rem;
  color: #18303e;
  margin-bottom: 0.5rem;
}

.register-input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #dbe7f1; /* Transparent input fields */
  color: #030303;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.register-input:focus {
  border-color: #18303e;
  outline: none;
  transform: scale(1.03); /* Slight scale effect on focus */
}

.generate-btn {
  background-color: #18303e;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 100%;
  margin-top: 1rem;
}

button:hover {
  background-color: #18303e;
  transform: scale(1.05); /* Button enlarges slightly on hover */
}

.register-btn {
  margin-top: 1.5rem;
  background-color: #18303e;
  border-radius: 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .form-wrapper {
    padding: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}