.table-container{
  background-color: #dbe7f1;
  height:100vh;
}
.registered-companies-table {
  border-radius: 8px; /* Rounded corners for the table */
  overflow: hidden; /* Prevent overflow of rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Table shadow */
  font-size: large;
  
}

.registered-companies-table tr {
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for background and scale */
}

.textColor{
  color:#073763;
}

.registered-companies-table tr:hover {
  background-color: rgba(0, 123, 255, 0.2); /* Slightly more transparent highlight on hover */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

.registered-companies-table th {
  background: linear-gradient(to right, #2d6293,#dbe7f1); /* Semi-transparent gradient for header */
  color: white; /* Header text color */
  font-weight: bold; /* Bold text for headers */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for header */
  border-radius: 10px;
}

.registered-title{
  position: relative;
  left: 650px;
}

.dropdown-content {
  display: block; /* Display dropdown items */
  margin-top: 10px; /* Space above dropdown items */
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for dropdown */
  border-radius: 5px; /* Rounded corners for dropdown */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Deeper shadow for dropdown */
  position: relative; /* Position relative to its container */
  z-index: 1; /* Ensure dropdown is above other content */
  transition: opacity 0.3s ease; /* Smooth appearance */
}

.dropdown-content:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Shadow on hover for depth */
}

/* Style for dropdown items */
.dropdown-content div {
  padding: 10px 15px; /* Padding for dropdown items */
  color: #333; /* Text color */
  transition: background-color 0.3s; /* Smooth transition for background */
}

.dropdown-content div:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Highlight item on hover */
  border-radius: 5px; /* Rounded corners for dropdown items */
}